.main .content .con1 .inner {
    width: 1180px;
    margin: auto;
    position: relative;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: nowrap;

    h2 {
        text-align: center;
    }
}
