#footer {
  background: #131313;
  width: 100%;
}
#footer .inner {
  padding: 50px 0;
  width: 1180px;
  margin: auto;
  position: relative;
  box-sizing: border-box;
}
#footer p {
  color: #fff;
  font-size: 14px;
  margin-bottom: 5px;
}
#footer p:nth-of-type(4) {
  margin-top: 20px;
}
#footer .top {
  position: absolute;
  right: -50px;
  top: -70px;
}
