.con3 li {
    margin-bottom: 25px;
}

.con3 li a div {
    width: 275px;
    height: 175px;
    overflow: hidden;
    margin-bottom: 10px;
}
.con3 li a div img {
    object-fit: contain;
}
