.con3 {
    position: relative;
    .inner {
        display: flex;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1180px;
        margin: auto;
        position: relative;
        box-sizing: border-box;
        .left {
            width: 480px;
            color: #fff;
            h2 + p {
                word-break: keep-all;
            }
            .more {
                margin-top: 20px;
                text-align: center;
                display: inline-block;
                padding: 10px 50px;
                border: 1px solid #fff;
                border-radius: 30px;
                span {
                    color: #fff;
                }
            }
        }
    }
    &::after {
        content: '';
        display: block;
        width: 45%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: #07255d;
        z-index: -5;
    }
}
